#login,
#register {
    border: 1px solid #363636;
    background-color: #161616;
    padding: 1.5em 2em;
    max-width: 33%;
    margin: 2em auto;
}

#login h2,
#register h2 {
    text-align: center;
    font-weight: 300;
    font-size: 2.1em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.subtitle {
    font-weight: bold;
    color: #999;
    margin-bottom: 1.5em;
}

#login p,
#register p{
    text-align: center;
    margin-top: 0;
    font-size: 1.1em;
    color: #f6f6f6;
    font-weight: 300;
}

#login form,
#register form {
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
    border-bottom: 1px solid #363636;
}